<h1 id="wb-cont">{{ 'title.page' | translate}}</h1>
<p>{{'page.description' | translate }}</p>

<!-- To-do: 
 Add 4 steps: 
 "What to compare (URL + GenAI content, 2 URLs, 2 prompts, 2 AI's)" COMPLETE
 "Upload content" IN PROGRESS
 "Build AI prompt & select a model" IN PROGRESS
 "Review results side-by-side with page & code view tabs" & "Submit feedback" IN PROGRESS ON TEST PAGE -->

<p-stepper [value]="1" [linear]="true">
    <p-step-item [value]="1">
        <p-step>What do you want to compare?</p-step>
        <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="bg-surface-050 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">

                        <!-- ***** Select Task Form ***** -->
                        <div class="flex flex-wrap align-items-center justify-content-center">
                            <div class="py-1">
                                <div *ngFor="let task of tasks" class="field-checkbox">
                                    <p-radiobutton class="m-1" [inputId]="task.key" name="category" [value]="task"
                                        [disabled]="task.unavailable" [(ngModel)]="selectedTask" size="large"
                                        required />
                                    <label [for]="task.key">{{ task.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-3">
                    <p-button label="Next" [disabled]="!selectedTask" (onClick)="activateCallback(2)" />
                </div>

            </ng-template>
        </p-step-panel>
    </p-step-item>

    <p-step-item [value]="2">
        <p-step>Upload content</p-step>
        <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">

                <!-- ***** Select Upload Type Form ***** -->
                <div class="flex flex-wrap align-items-start justify-content-start">
                    <div class="py-1">
                        <div *ngFor="let upload of uploads" class="field-checkbox">
                            <p-radiobutton class="m-1" [inputId]="upload.key" name="upload" [value]="upload"
                                [disabled]="upload.unavailable" [(ngModel)]="selectedUpload" size="large" />
                            <label [for]="upload.key">{{ upload.name }}</label>
                        </div>
                    </div>
                </div>
                <!-- ***** Upload options ***** -->
                <ca-upload-content *ngIf="selectedUpload" [uploadType]="selectedUpload.key"
                    [taskType]="selectedTask.key" (uploadData)="handleUpload($event)"></ca-upload-content>

                <div class="flex py-3 gap-2">
                    <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                    <p-button label="Next" [disabled]="!receivedUploadData" (onClick)="activateCallback(3)" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>

    <p-step-item [value]="3">
        <p-step>Choose options</p-step>
        <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                        <!-- ***** Build Prompt Form ***** -->
                        <div class="flex flex-wrap align-items-start justify-content-start"
                            *ngIf="selectedTask.key !== 'task2Contents'">
                            <div class="py-1 pr-5">
                                <h2>Prompt options</h2>
                                <div *ngFor="let prompt of prompts" class="field-checkbox">
                                    <p-checkbox class="m-1" [inputId]="prompt.key" name="prompt" [value]="prompt"
                                        [disabled]="prompt.unavailable" [(ngModel)]="selectedPrompts" size="large"
                                        binary="false" />
                                    <label [for]="prompt.key">{{ prompt.name }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- ***** Select 1 AI Model Form ***** -->
                        <div class="flex flex-wrap align-items-start justify-content-start"
                            *ngIf="selectedTask.key !== 'task2Contents' && selectedTask.key !== 'task2Models'">
                            <div class="py-1 pr-5">
                                <h2>AI model</h2>
                                <div *ngFor="let ai of ais" class="field-checkbox">
                                    <p-radiobutton class="m-1" [inputId]="ai.key" name="ai" [value]="ai"
                                        [disabled]="ai.unavailable" [(ngModel)]="selectedAI" size="large" />
                                    <label [for]="ai.key">{{ ai.name }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- ***** Select 2 AI Model Form ***** -->
                        <div class="flex flex-wrap align-items-start justify-content-start"
                            *ngIf="selectedTask.key !== 'task2Contents' && selectedTask.key === 'task2Models'">
                            <div class="py-1">
                                <h2>AI models</h2>
                                <div *ngFor="let ai of ais" class="field-checkbox">
                                    <p-checkbox class="m-1" [inputId]="ai.key" name="ai" [value]="ai"
                                        [disabled]="(!isSelected(ai) && selectedAIs.length >= 2) || ai.unavailable"
                                        [ngModel]="selectedAIs" (onChange)="toggleSelection(ai)" size="large"
                                        binary="false" />
                                    <label [for]="ai.key">{{ ai.name }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- ***** Compare 2 URLs message ***** -->
                        <div class="flex flex-wrap align-items-start justify-content-start"
                            *ngIf="selectedTask.key == 'task2Contents'">
                            <div class="py-1">
                                <p>No additional options available.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex py-3 gap-2">
                    <p-button label="Back" severity="secondary" (onClick)="activateCallback(2)" />
                    <p-button label="Next" [disabled]="(selectedTask.key === 'task2Models' && selectedAIs.length <= 1) || (selectedTask.key !== 'task2Contents' && (!selectedAI || selectedPrompts.length < 1))" (onClick)="activateCallback(4)" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>

    <p-step-item [value]="4">
        <p-step>View results</p-step>
        <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div
                        class="bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                        <!--Summary of collected data-->
                        <p-panel header="User Input Summary" [toggleable]="true" [collapsed]="true">
                            <p>Task: {{selectedTask.name}}</p>
                            
                            <p>Upload type: {{selectedUpload.name}}</p>
                            
                            <ng-container *ngIf="receivedUploadData">
                                <p>Source URL: {{this.receivedUploadData.sourceURL}}</p>
                                <p *ngIf="receivedUploadData.prototypeURL">Prototype URL: {{this.receivedUploadData.prototypeURL}}</p>
                            </ng-container>

                            <p *ngIf="selectedTask.key !== 'task2Contents' && selectedTask.key !== 'task2Models'">AI model: {{selectedAI.name}}</p>
                            
                            <p *ngIf="selectedAIs.length > 0">AI models: <span *ngFor="let ai of selectedAIs; let i = index">{{ ai.name }}<span *ngIf="i < selectedAIs.length - 1"> and </span></span></p>
                            
                            <p *ngIf="selectedPrompts.length > 0">Complete prompt: <span *ngFor="let prompt of selectedPrompts; let i = index">{{ prompt.name }}<span *ngIf="i < selectedPrompts.length - 1">, </span></span></p>
                        </p-panel>
                    </div>
                </div>
                <div class="py-3">
                    <p-button label="Back" severity="secondary" (onClick)="activateCallback(3)" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>
</p-stepper>