<h1 id="wb-cont">{{ 'title.page' | translate}}</h1>
<p>{{'page.description' | translate }}</p>

<!-- To-do: Add 4 steps: "What to compare (URL + GenAI content, 2 prompts, 2 AI's, 2 URLs)", "Upload content", "Build AI prompt", "Review results side-by-side with page & code view tabs", "Submit feedback"

<h2>{{'page.step1.title' | translate }}</h2>  
<p>{{'page.step1.description' | translate }}</p-->

<!-- 1st test: upload 1 URL and view page COMPLETE-->
<!-- 2nd test: upload 2 URLs and view side-by-side page COMPLETE-->
<!-- 3nd test: integrate the highlight differences module -->
<!-- 4th test: integrate page and code tabs -->
<!-- 4th test: add a step 3 to build AI prompt & send 1st URL to AI and use result for comparison-->
<!-- 5th test: add to step 2 to choose upload type (URL, copy/paste, word doc) & a new step 1 for comparison type 2 inputs, input + AI, 2 AI prompts, 2 AI models-->
<!-- 6th test: add step 4 to provide feedback on the comparison-->

<section id="upload-content" *ngIf="!iframeContentA">
  <h2>{{'page.step2.title' | translate }}</h2>

  <!--Compare 2 URLs-->
  <form #form="ngForm" (ngSubmit)="updateIframeFromURL()" novalidate>
    <fieldset>
      <legend>{{'page.step2.urlForm.legend' | translate }}</legend>
      <p class="small text-muted" [innerHTML]="'page.step2.urlForm.example' | translate"></p>

      <!-- Source URL -->
      <div class="form-group mb-3">
        <label for="source">{{'Source URL' | translate }}</label>
        <input id="source" type="url" name="source" [(ngModel)]="source" required pattern="https?://.+"
          #sourceField="ngModel" class="form-control" placeholder="https://www.canada.ca/(your path)"
          autocomplete="url" />
        <div *ngIf="sourceField.invalid && sourceField.touched" class="text-danger small">
          <div *ngIf="sourceField.errors?.['required']">{{'Source URL' | translate }} {{'is required' | translate }}.
          </div>
          <div *ngIf="sourceField.errors?.['pattern']">{{'page.step2.error' | translate }}</div>
        </div>
      </div>

      <!-- Prototype URL -->
      <div class="form-group mb-3">
        <label for="prototype">{{'Prototype URL' | translate }}</label>
        <input id="prototype" type="url" name="prototype" [(ngModel)]="prototype" required pattern="https?://.+"
          #prototypeField="ngModel" class="form-control" placeholder="https://(allowed repo).github.io/(your path)"
          autocomplete="url" />
        <div *ngIf="prototypeField.invalid && prototypeField.touched" class="text-danger small">
          <div *ngIf="prototypeField.errors?.['required']">{{'Prototype URL' | translate }} {{'is required' | translate
            }}.</div>
          <div *ngIf="prototypeField.errors?.['pattern']">{{'page.step2.error' | translate }}</div>
        </div>
      </div>

      <!-- Error message -->
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      <!-- Submit -->
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{'continue' | translate }}</button>
    </fieldset>
  </form>
</section>

<!-- Show side-by-side -->
<section *ngIf="iframeContentA">
  <h2>{{'page.step4.title' | translate }}</h2>
  <div class="row row-cols-2">
    <div>
      <p>Source</p>
      <iframe *ngIf="iframeContentA" [attr.srcdoc]="iframeContentA">
      </iframe>
    </div>
    <div>
      <p>Prototype</p>
      <iframe *ngIf="iframeContentB" [attr.srcdoc]="iframeContentB">
      </iframe>
    </div>
  </div>
</section>


<!--CODE TO INTEGRATE-->
<!--section id="url-upload-preview">

  <div class="tabs sticky">
    <ul>
      <li><a class="active" data-target="#url-preview"> Page</a></li>
      <li><a data-target="#code-preview"> Code</a></li>
    </ul>
  </div>
</section-->




<!--div id="url-preview" class="tab-content">
  <div id="iframe-container-A" class="full-width">
    <div id="iframe-toolbox-A" class="toolbar hidden">
      <button class="toolbar-button" id="accept-iframe-a-btn" title="Accept A">
        <i class="fa fa-check"></i>
      </button>
    </div>
  </div>
  <div id="iframe-container-B" class=" hidden">
    <div id="iframe-toolbox-B" class="toolbar hidden">
      <button class="toolbar-button" id="accept-iframe-b-btn" title="Accept B">
        <i class="fa fa-check"></i>
      </button>
    </div>
    <iframe id="url-frame-2" src="" name="targetframe2" allowTransparency="true"></iframe>
  </div>
  <p id="url-invalid-msg" class="error-msg hidden">The URL you input is invalid, please ensure it has proper syntax and
    try again.</p>
  <p id="canada-ca-msg" class="error-msg hidden">Due to technical limitations, Canada.ca pages are not yet compatible
    with this tool. Try a Github URL to test it out!</p>
  <p id="other-site-msg" class="error-msg hidden">The tool is only for validation of Canada.ca design work. If you
    believe this URL should be in scope, please reach out to the tool adminstrators to whitelist the domain.</p>
</div>
<div id="code-preview" class="tab-content hidden">
  <div class="toolbar sticky">
    <button class="toolbar-button" id="code-refresh-button" title="Refresh">
      <i class="fa fa-refresh"></i>
    </button>
    <button class="toolbar-button" id="code-copy-button" title="Copy Code">
      <i class="fa fa-copy"></i>
    </button>
    <button class="toolbar-button" id="code-edit-button" title="Edit Code">
      <i class="fa fa-edit"></i>
    </button>
  </div>
  <div style="display:flex">
    <pre id="fullHtml" class="language-markup"
      style="background: #f4f4f4; padding: 10px; border: 1px solid #ddd; white-space: pre-wrap;">
                                            <code></code>
                                          </pre>
    <pre id="fullHtmlCompare" class="language-markup hidden"
      style="background: #f4f4f4; padding: 10px; border: 1px solid #ddd; white-space: pre-wrap;">
                                            <code></code>
                                          </pre>
  </div>

</div-->


<!--integrate this into right nav-->
<!--div id="templates-tab" class="tab-content hidden">
                                         <fieldset id="template-options">
                                           <legend>Select a template to apply to the page content</legend>
                                           <input type="radio" id="templates-topic-page" name="template-options" value="html-templates/topic-page-template.html">
                                           <label for="templates-topic-page"> Topic page</label><br>
                                           <input type="radio" id="templates-one-pager" name="template-options" value="none">
                                           <label for="templates-one-pager"> Service one-pager</label><br>
                                           <input type="radio" id="templates-subway" name="template-options" value="none">
                                           <label for="templates-subway"> Subway</label><br>
                                           <input type="radio" id="templates-service-contact" name="template-options" value="html-templates/service-contact-template.html">
                                           <label for="templates-service-contact"> Service contact page</label><br>
                                         </fieldset>
                                         <fieldset id="template-variant-options" class="hidden" style="margin-top:15px;">
                                           <legend>Select a variant of the <span class="template-selection"></span></legend>
                                           <div class="template-variant-group hidden" id="one-pager-variant-group">
                                             <input type="radio" id="one-pager-variant-prera" name="template-variant-options" value="html-templates/one-pager-prera-template.html">
                                             <label for="one-pager-variant-prera"> Before Royal Assent</label><br>
                                             <input type="radio" id="one-pager-variant-postra" name="template-variant-options" value="html-templates/one-pager-postra-template.html">
                                             <label for="one-pager-variant-postra"> After Royal Assent</label><br>
                                           </div>
                                           <div class="template-variant-group hidden" id="subway-variant-group" style="margin-top:15px;">
                                             <input type="radio" id="subway-variant-overview" name="template-variant-options" value="html-templates/subway-overview-template.html">
                                             <label for="one-pager-variant-prera"> Subway overview page</label><br>
                                             <input type="radio" id="subway-variant-step" name="template-variant-options" value="html-templates/subway-step-template.html">
                                             <label for="one-pager-variant-postra"> Subway step page</label><br>
                                             <input type="radio" id="subway-variant-substep" name="template-variant-options" value="html-templates/subway-substep-template.html">
                                             <label for="one-pager-variant-postra"> Subway substep page</label><br>
                                           </div>
                                         </fieldset>
                                         <fieldset id="template-application-options" class="hidden">
                                           <legend>Select a method to apply the template</legend>
                                           <p class="small">If you're not sure, try simple first.</p>
                                           <input type="radio" id="template-application-simple" name="template-application-options" value="simple" checked>
                                           <label for="template-application-simple"> Simple</label><br>
                                           <input type="radio" id="template-application-thorough" name="template-application-options" value="thorough">
                                           <label for="template-application-thorough"> Thorough</label><br>
                                           <button id="template-options-btn">Apply</button>
                                         </fieldset>

                                         <div id="templates-spinner" class="hidden">
                                 					<div class="spinner"></div>
                                 					<p>Templating page...</p>
                                 				</div>
                                       </div>
                                    </div>
                                </div-->
<!--div id="html-upload" class="hidden">
                                  <div id="html-upload-input" style="margin-top:20px">
                                    <div class="inline-checkbox-container">
                            					<fieldset>
                            					  <input type="checkbox" id="html-basic-html" name="html-canada" value="basic-html">
                            					  <label for="html-basic-html">Basic html only</label><br>
                            					</fieldset>
                        				    </div>
                        				    <fieldset>
                                        <legend>Write or paste in your content or HTML to analyze</legend>
                                        <textarea id="html-input" class="inputbox"></textarea>
                                    </fieldset>
                                    <button id="html-upload-btn" style="margin-top: 20px">Submit</button>
                                  </div>
                                  <div id="html-upload-loading-spinner" class="hidden">
                                    <div class="spinner"></div>
                                    <p>Converting doc to HTML...</p>
                                  </div>
                        				  <div id="html-upload-no-action-error" class="error-msg hidden">
                      					       <p>You must select an option for an action and model to run a report.</p>
                        				  </div>
                                </div>
                                <div id="word-upload" class="hidden">
                                  <div id="word-upload-input" class="" style="margin-top:20px">
                                    <div class="inline-checkbox-container">
                                      <fieldset>
                                        <input type="checkbox" id="doc-exact-syntax" name="doc-formatting" value="exact-syntax">
                                        <label for="doc-exact-syntax">Use doc formatting exactly (faster)</label><br>
                                      </fieldset>
                                      <fieldset>
                                        <input type="checkbox" id="doc-basic-html" name="doc-canada" value="basic-html">
                                        <label for="doc-basic-html">Basic html only</label><br>
                                      </fieldset>
                                    </div>
                  									<fieldset>
                  										<legend>Upload .docx word documents to generate HTML markup</legend>
						                          <input type="file" id="word-file" name="word-file">
                                    </fieldset>
                                  </div>
                                </div>
                                    <div id="word-upload-preview" class="hidden" style="margin-top:20px;">
  			                               <h3 class="card-title h5 modal-icon-alignment pb-2 ng-star-inserted">
                                        Word document preview
                                      </h3>
                                      <p id="word-invalid-msg" class="error-msg hidden">This feature currently only supports ".docx" files. .doc or other document file types are not compatible. Please try a .docx file or use the text input option to copy paste.</p>
                    									<p id="word-multiple-msg" class="error-msg hidden">We currently only accept uploading word documents files individually. Try again with 1 word document.</p>
                                      <div id="word-upload-loading-spinner" class="hidden">
                                        <div class="spinner"></div>
                                        <p>Converting word doc to HTML...</p>
                                      </div>
                                    </div-->